{% extends 'base.html.twig' %}
{% block title 'Nouveau repas' %}
{% block header %}
  <header>
    <a class="button button--icon state" href="{{ path('menu_display') }}">{{ ux_icon('tabler:arrow-left') }}</a>
    {{ parent() }}
  </header>
{% endblock %}
{% block content %}
  <form action="{{ path('menu_plan', {id: menu.id, day}) }}" method="post">
    <div class="dialog__text">
      <p>Ajoutez un reste à vos repas de {{ days[day] }}, ou une nouvelle recette :</p>
    </div>
    <div class="field">
      <select id="choice" name="meal">
        {% if remains %}
          <optgroup label="Restes">
            {% for key, remain in remains %}
              <option value="{{ key }}">{{ recipes[remain.recipe.value].name }}</option>
            {% endfor %}
          </optgroup>
        {% endif %}
        <optgroup label="Recettes">
          {% for key, recipe in rooster %}
            <option value="{{ key }}">{{ recipe.name }}</option>
          {% endfor %}
        </optgroup>
      </select>
      <label for="choice">Choisir un repas</label>
      {{ ux_icon('tabler:chevron-down') }}
    </div>
    <div class="dialog__actions">
      {% if fragment %}
        <button class="button button--text state" data-action="new-meal#close" type="button">Annuler</button>
      {% endif %}
      <button class="button {% if fragment %}button--text{% else %}new-meal__button{% endif %} state">Ajouter</button>
    </div>
  </form>
{% endblock %}
