<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Menu · Grimoire</title>
  <link rel="manifest" href="{{ path('manifest') }}">
  <link rel="icon" href="/favicon.ico" sizes="32x32">
  <link rel="icon" href="{{ asset('images/icon.svg') }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ asset('images/apple-touch-icon.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ importmap('app', {nonce: csp.nonce}) }}
</head>
<body>
<h1>Menu</h1>
<main>
  {% for menu in menus %}
    {% for index, day in menu.days %}
      <article class="day">
        <h2 class="day__title">
          {{ day.date|format_date(pattern='EEEE')|capitalize }}
          <span class="day__month">{{ day.date|format_date(pattern='d MMM') }}</span>
        </h2>
        {% for meal in day.meals %}
          <p>
            {% if meal.isRemains %}
              {{ recipes[meal.recipe].name }} (restes)
            {% else %}
              <span class="recipe">{{ ux_icon('tabler:template') }} {{ recipes[meal.recipe.value].name }}</span>
            {% endif %}
          </p>
        {% else %}
          <p class="meal--empty">Aucun repas</p>
        {% endfor %}
      </article>
    {% endfor %}
  {% endfor %}
</main>
</body>
</html>
