{% extends 'base.html.twig' %}
{% block title 'Toutes vos recettes' %}
{% block header %}
  <header>
    <a class="button button--icon state" href="{{ path('folder_list') }}">{{ ux_icon('tabler:arrow-left') }}</a>
    {{ parent() }}
  </header>
{% endblock %}
{% block content %}
  {% set links = recipes|map(recipe => {name: recipe.name, url: path('recipe_display', {id: recipe.id})}) %}
  {{ include('shared/_nav-list.html.twig', {links}, with_context=false) }}
  <div
    class="fab"
    data-controller="new-recipe"
    data-new-recipe-url-value="{% block url %}{{ path('recipe_add') }}{% endblock %}"
  >
    <a aria-label="Ajouter une recette" class="button button--fab state" data-action="new-recipe#open:prevent" href="{{ block('url') }}">
      {{ ux_icon('tabler:plus') }}
    </a>
    <dialog class="full-screen" data-new-recipe-target="dialog"></dialog>
  </div>
{% endblock %}
